node_modules/
.env
data/*.db
data/*.db-journal
data/*.db-wal
data/*.db-shm
data/*.sqlite
data/*.sqlite-journal
data/*.sqlite-wal
data/*.sqlite-shm
data/*.db-
backups/*.db
backups/*.sqlite
backups/*.log